.image_grid {
  width: 100vw;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.image_card {
  display: block;
}

.image_card img {
  width: 100%;
  border-radius: 20px;
}

.pop_up_container {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.close_button {
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.pop_up_image {
  width: 40vw;
  margin: auto;
  margin-top: -60px;
}

.pop_up_image img {
  width: 100%;
  border-radius: 20px;
}

.pop_tabs {
  width: 40vw;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
}

.tab {
  width: 40px;
  height: 40px;
}

.tab img {
  width: 100%;
  border-radius: 10px;
}
